@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
    font-family: "Inter", sans-serif;
}
:root {
    --offcanvas-width: 70px;
    --topNavbarHeight: 56px;
}
.sidebar-nav {
    width: var(--offcanvas-width);
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;

}
.Low{ background-color:green; }

.Medium{ background-color:blue; }

.High{ background-color:red; }

@media (min-width: 992px){
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    main{
        margin-left: var(--offcanvas-width);
    }
}
